.trocar-pagina {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    padding: 10px;

  }
  
  
  
  .trocar-pagina p {
    margin: 0;
    color: #aaa;
  }
  
  .trocar-pagina a {
    color:#0056d2; /* Cor verde do botão e força a aplicação */
    text-decoration: none;
    font-weight: bold;
  }
  
  .trocar-pagina a:hover {
    text-decoration: underline;
  }
  
  